@import "assets/style/theme.scss";
.CountCSVExport {
  .downloadCSVLink {
    visibility: hidden;
    width: 0;
  }
  .download-site-results {
    margin-right: 12px;
    font-size: 1rem;
    padding: 0;
  }
}
