@import "assets/style/theme.scss";

.QueryResultPanel {
  margin-bottom: 20px;
  background-color: #fbfbfb !important;
  padding: 8px 9px 4px 36px;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.12),
  0 0.5px 0.5px rgba(0, 0, 0, 0.24) !important;

  max-height: 136px;
  overflow: auto !important;

  .query-result-panel-text {
    color: $grey5;
  }

  .criteriaPanelSeparator {
    font-weight: bold;
  }

  > .MuiGrid-root.MuiGrid-container {
    position: relative;
    right: 9px;
    width: 100%;
    margin-bottom: 5px;
  }

  .OverflowText {
    display: inline-block;
    .OverflowData {
      display: inline-block;
    }
  }

  .CopyToClipboard {
    display: inline-block;
    cursor: pointer;
    margin-left: 6px;
  }
}
