@import "assets/style/theme.scss";

.TermsOfUse {
  margin: 30px 12px 12px 12px;

  .tou-text{
    margin: 10px;
    overflow: auto;
  }

  .tou-button{
    font-size: 0.9rem;
    height: 50px;
    transition: all 0.2s ease-in-out;
    @include secondary-button(#2782a3, rgba(232, 238, 254, 1));
    background-color: rgba(232, 238, 254, 1);
    border: 1px solid rgba(39, 130, 163, 0.5);
    &:hover {
      border: 1px solid $designerBlue;
    }
    &.active {
      opacity: 1;
    }
  }
}
