<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="shrine" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/mock-crc.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="net.shrine.log.CustomPatternLayout">
                <pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS, UTC} | %5p | %-15c{0} | %-15t | %m %n%ex</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/mock-crc.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/mock-crc-root.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="net.shrine.log.CustomPatternLayout" >
                <pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS, UTC} | %5p | %-15c{0} | %-15t | %m %n%ex</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/mock-crc-root.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="net.shrine" additivity="false" level="info">
        <appender-ref ref="shrine"/>
    </logger>
    <root level="info">
        <appender-ref ref="R"/>
    </root>
</configuration>
