<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="shrine" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/shrine-api.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="net.shrine.log.CustomPatternLayout">
                <pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS, UTC} | %5p | %-15c{0} | %-15t | %m %n%ex</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/shrine-api.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root name="net.shrine" level="info">
        <appender-ref ref="shrine"/>
    </root>
</configuration>