.DroppableConceptList.dragged-over {
  .QueryTermGroupView {
    .GroupBody.inclusion-group.active,
    .GroupBody.inclusion-group {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      z-index: 2000;
      background-color: #d1f0ff;
      > .MuiGrid-root {
        background-color: #d1f0ff;
      }
    }
  }
  .DropArea {
  }
}

.TimelineView {
  .DroppableConceptList.dragged-over {
    background-color: #d1f0ff;
    .EventView {
      background-color: #d1f0ff;
    }
  }
}
