**/.DS_Store
**/.vscode
**/.idea
**/.env
**/*venv
**/output
**/.ipynb_checkpoints
*.cnf
*.rpm
*.csv
**/db.properties
**/cred.json
**/commands.cli
**/sp-cert.pem
**/sp-key.pem

**/context.xml
**/password.conf

docker/i2b2-server/wildfly-26.1.3.Final/

docker/i2b2-admin/Configuration/dev/apache.conf
docker/i2b2-admin/Configuration/prod

docker/i2b2-web/Configuration/prod
docker/i2b2-web/Configuration/local
docker/i2b2-web/Configuration/dev

docker/shibboleth/Configuration/dev/shibboleth/inc-md-cert-mdq.pem
docker/shibboleth/Configuration/prod/shibboleth/inc-md-cert-mdq.pem
docker/shibboleth/Configuration/local/shibboleth/inc-md-cert-mdq.pem

docker/shrine-db/load-scripts/**

docker/shrine-server/src/keystore/**
docker/shrine-server/src/data/**

docker/shrine-data/load-scripts/*
docker/shrine-data/project-scripts/*



