@import "assets/style/theme.scss";
.StatusErrorDialog {
  .title-label-wrapper {
    margin-left: 8px;
  }
  @include light-theme-modal(100%);
  .problemDigestContent {
    max-height: 430px;
    max-width: 600px;
    overflow: auto;
    word-wrap: break-word;
    padding: 10px 5px;
    p.instructions {
      font-style: italic;
      margin: 8px;
    }
    hr {
      color: white;
    }
    > .hd {
      background: #6677aa;
    }
  }
}
