@import "assets/style/theme.scss";
.QueryTermView {
  display: inline-flex;
  .QueryTermLabView {
    display: inline-flex;
    .MuiInputBase-input {
      font-size: $font-size3;
    }
    label {
      display: inline-block;
    }
    .between {
      display: none;
      &.show-range {
        display: inherit;
      }
    }
    .inline-input {
      min-width: 80px;
      margin-right: 8px;
      position: relative;
      bottom: 8px;
      .MuiSelect-selectMenu {
        position: relative;
        top: 5px;
      }

      &.show-unit,
      &.show-range {
        &.MuiInput-underline:after,
        &.MuiInput-underline:before,
        .MuiInput-underline:after,
        .MuiInput-underline:before {
          bottom: 6px;
        }
      }

      .MuiInput-formControl,
      label + .MuiInput-formControl {
        margin-top: 8px;
      }
    }
  }
}
