.UnitSelect {
  .unit-label,
  .inline-input {
    display: none;
    label {
      min-width: 85px;
      top: 34px;
    }
    input {
      text-align: center;
    }
    &.show-unit,
    &.show-range {
      .MuiSelect-selectMenu {
        top: 0px;
      }
    }
    &.show-unit,
    &.show-range {
      display: inherit;
    }
  }

  .unit-label {
    color: rgba(0, 0, 0, 0.87);
  }
}
