@import "assets/style/theme.scss";

.TimelineLink {
  > div:first-child {
    margin-left: 0px;
  }

  display: flex;
  flex-direction: column;
  background-color: $timeline2;
  overflow: hidden;
  width: 100%;
  text-align: left;
  color: #fbfbfb;
  font-size: 0.90em;
  padding-right: 20px;

  .copy {
    text-shadow: 1px 0 1px rgba(19, 74, 70, 0.5);
    line-height: 30px;
  }
  .summary {
    margin-left: 3px;
    margin-right: 3px;
  }
  .occurrence-dropdown {
    color: #0000ff;
    font-size: 0.85rem;
    top: 1px;
  }

  .input {
    width: 50px;
  }

  .error {
    /*padding-top: 16px;*/
    .MuiFormHelperText-root.Mui-error {
      position: relative;
      bottom: 16px;
    }
  }

  .MuiFormControl-root {
    display: block;
  }

  .invalid-error{
    color:#f44336;
  }

  .before {
    margin-left: 5px;
  }

  // MUI overrides:first-child
  .MuiInput-underline:after,
  .MuiInput-underline:before {
    bottom: 6px;
  }

  .timelineLinkRow {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 20px;
    background: #ffffff;
  }

  .timeSpans{
    display: flex;
    flex-grow: 1;
  }

  .timeSpan {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-basis: 200px;
    gap: 10px;
    margin-left: -2px;
    margin-right: 15px;
    max-height: 45px;
    min-height: 45px;
  }

  .enable-occurrence {
    .MuiCheckbox-root {
      padding-left:0;
      padding-right:0;
      color: rgba(0, 0, 0, 0.54);
    }
    .MuiIconButton-colorSecondary:hover {
      background-color: rgba(39, 130, 163, 0.08);
    }
    .MuiSvgIcon-root {
      width: 0.8em;
      height: 0.8em;
    }
  }

  .inline-flex {
    display: inline-flex;
  }

  .MuiExpansionPanel-root {
    background: transparent;
  }

  .MuiExpansionPanel-root.MuiPaper-elevation1 {
      box-shadow: none;
  }

  .MuiExpansionPanelSummary-root{
    margin-top: 8px;
    margin-bottom: 8px;
    min-height: 30px;
    padding: 0;
  }

  .MuiExpansionPanelSummary-root.Mui-expanded {
    min-height: 30px;
  }

  .MuiExpansionPanelSummary-root:hover{
    background-color: $timeline2Hover;
  }

  .MuiExpansionPanelDetails-root {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 10px;
    flex-direction: column;
  }

  .MuiExpansionPanelSummary-content{
    flex-wrap: wrap;
    margin: 6px;
  }

  .MuiExpansionPanelSummary-content.Mui-expanded{
    margin: 6px;
  }

  .disabled {
    color: rgba(0, 0, 0, 0.38);
    text-shadow: none;
  }
}
