@import "assets/style/theme.scss";
.Footer {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: $designerBlue;
  z-index: $always-on-top;

  .banner-text-bottom {
    font-size: 12px;
    color: #eef7ff;
    align-self: center;
    margin: 0 auto;
  }

  display: flex;
  justify-content: center;
  align-items: center;

}
