.LeftContentToggleBtn {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  color: #57606f;
  max-width: 40px;
}

.LeftContentToggleBtn span.status {
  display: inline-block;
  height: 12px;
  width: 17px;
}
.LeftContentToggleBtn span.status.btn-close span.bar:nth-child(1) {
  transition: 250ms;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 4px;
}
.LeftContentToggleBtn span.status.btn-close span.bar:nth-child(2) {
  opacity: 0;
  transition: 250ms;
}
.LeftContentToggleBtn span.status.btn-close span.bar:nth-child(3) {
  transition: 250ms;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 4px;
}
.LeftContentToggleBtn span.status span.bar {
  transition: 250ms;
  position: relative;
  display: block;
  background: #57606f;
  border-radius: 1px;
  border-bottom: 1px solid #57606f;
  width: 15px;
  height: 1px;
}
.LeftContentToggleBtn span.status span.bar:nth-child(2) {
  margin: 3px 0;
}

.LeftContentToggleBtn {
  position: relative;
  top: 4px;
  left: 1%;
  cursor: pointer;
  color: #212121;
  z-index: 1000;
}
