.Login {
  .login-container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .MuiButton-containedPrimary {
      color: #fff;
      background-color: #2782a3;
      margin-top: 16px;
    }
  }

  .login-form {
    width: 100%;
    margin-top: 4px;
  }
  .MuiOutlinedInput-root.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      border-color: #2782a3;
    }
  }
  .MuiFormLabel-root.Mui-focused {
    color: #2782a3;
  }

  .legacy-link {
    color: #878787;
    line-height: 1.5;
    font-style: italic;
    margin-top: 32px;
    a {
      margin-left: 8px;
    }
  }
  .survey {
    margin-top: 16px;
    a {
      margin-left: 8px;
    }
  }
  .Landing {
    size: 12px;
    font-weight: bold;
    margin: auto;
    height: 90px;
    width: 35px;
    border: 1px solid #D0D0D0;
  }
}
