.FilteredTree {
  height: 100%;

  .list {
    height: 100%;
    width: 100%;
  }
  .Tree {
    .Branch.row {
      display: flex;
      text-align: left;
      margin: 5px 0;
      display: flex;
      align-items: center;
      .content {
        margin-right: 10px;
        margin-left: 4px;
      }

      .display-name,
      .content {
        overflow: hidden;
        overflow-wrap: break-word;
        margin-right: 20px;
      }
    }
  }

  .ReactVirtualized__Grid.ReactVirtualized__List:focus,
  .ReactVirtualized__Grid.ReactVirtualized__List {
    outline: none;
  }
}

.no-results-message {
  text-align: left;
  color: #878787;
  margin-right: 16px;
  margin-top: 16px;
  padding: 8px;
  .suggestions {
    margin-top: 12px;
    ul {
      padding-left: 30px;
      li {
        margin-top: -4px;
      }
    }
    .MuiTypography-root {
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}
