@import "assets/style/theme.scss";
.StaticTree {
  &.MuiTreeView-root {
    padding-right: 8px;
  }
  font-size: 0.9rem;
  color: #585757;
  overflow-y: visible;
  flex-grow: 1;
  .MuiTreeItem-content {
    align-items: flex-start;
    .MuiTreeItem-iconContainer {
      margin-top: 4px;
    }
  }
  .MuiTreeItem-group {
    border-left: 1px dashed rgba(0, 0, 0, 0.15);
    margin-left: 12px;
    padding-left: 12px;
  }
}
