@import "assets/style/theme.scss";

.InstitutionResultStatusList {
  .MuiTableRow-root:nth-child(even) {
    background-color: $grey1;
  }

  .MuiTableCell-root {
    padding-left: 26px;
  }

  .institution-result-container {
    max-height: 100%;
  }

  .result-metadata-btn{
    margin-left: 0.25em;
    color: #6a666e;
  }

  clear: both;
}
