@import "assets/style/theme.scss";
.InstitutionResultHeader {
  th[aria-sort="acending"] {
    color: red;
  }
  .institution-table-header {
    background-color: #e7eeff;
    height: 30px;
    th {
      height: auto !important;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 26px;
    }
  }

  .info-wrapper {
    display: inline-block;
    position: absolute;
    left: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 30px;
    color: #6a666e;
    cursor: default;
  }
}

.copy-query-results-help-text {
  box-shadow: 0 4px 18px -3px rgba(0, 0, 0, 0.64);
  max-width: 500px !important;
  font-style: italic;
  background-color: rgba(99, 99, 99, 0.8) !important;
}
