@import "assets/style/theme.scss";
.ResultMetadataDialog {
  @include light-theme-modal(600px);

  .MetadataTitle {
    text-decoration: underline;
    font-size: 1.1em;
  }
  .list-icon {
    margin-right: 0.5em;
  }
  .ObfuscationDescription {
    font-style: italic;
  }

  .MuiListItem-root {
    display: block;
  }
}
