@import "assets/style/theme.scss";

// a flex item which *will* grab space which becomes available

.StartQuery {
  background-color: #737373;
  color: white;
  margin: 0px 32px;
  border-radius: 5px;
  position: relative;
  z-index: $always-on-top;
  .MuiPaper-root {
    flex: 0 0 auto;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    font-weight: normal;
    margin: 10px;
    margin-bottom: 0px;
  }

  .MuiExpansionPanelDetails-root {
    display: flex;
    padding: 0px;
    height: 30px;
  }

  .MuiExpansionPanel-root.Mui-expanded {
    background-color: #fbfbfb;
  }

  .btn-primary.disabled,
  .btn-primary:disabled {
    color: $designerBlue;
    background-color: white;
    border: 1px solid $designerBlue;
    opacity: 0.5;
  }

  label {
    margin-right: 16px;
    position: relative;
    top: 6px;
    color: rgb(73, 75, 117);
    font-style: italic;
  }

  .search-title {
    @include font-base;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
    position: relative;
    width: 100%;
    text-align: center;
    top: 8px;
  }

  .search-form {
    padding: 28px;
  }

  .startQueryForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    top: 6px;
    .startQueryColumn {
      width: 100%;
      text-align: center;
    }
    .demographic-distribution {
      font-size: 0.85em;
      font-style: italic;
      color: #2782a3;
      text-align: left;
      width: 265px;
      position: relative;
      bottom: 4px;
      display: flex;
      align-items: baseline;
      margin-left: 26%;
      margin-top: -11px;
      .demo-distribution-label {
        position: relative;
        bottom: 16px;
      }

      .MuiCheckbox-root {
        color: $designerBlue;
      }
      .MuiIconButton-colorSecondary:hover {
        background-color: rgba(39, 130, 163, 0.08);
      }
      .MuiSvgIcon-root {
        width: 0.8em;
        height: 0.8em;
      }
    }

    .MuiInput-root {
      width: 100%;
    }

    .advanced-distribution{
      position: relative;
      bottom: -23px;
      left: -112px;
      font-size: 1.04em;
      margin-bottom: 3px;

      .MuiSvgIcon-root {
        width: 0.78em;
        height: 0.78em;
      }
    }
  }

  .count-button {
    width: 90%;
    position: relative;
    bottom: 12px;
    font-size: 0.9rem;
    height: 50px;
    transition: all 0.2s ease-in-out;
    @include secondary-button(#2782a3, rgba(232, 238, 254, 1));
    background-color: rgba(232, 238, 254, 1);
    border: 1px solid rgba(39, 130, 163, 0.5);
    &:hover {
      border: 1px solid $designerBlue;
    }
    &.active {
      opacity: 1;
    }
  }

  .generate {
    cursor: pointer;
    font-size: 0.89rem;
    position: relative;
    left: 2vw;
  }

  .MuiInput-underline:after,
  .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid $designerBlue;
  }

  .MuiInput-underline:not(.Mui-disabled):before {
    border-bottom: 1px solid $designerBlue;
  }

  .MuiExpansionPanel-rounded:last-child {
    border-radius: 0;
  }

  .fa,
  i {
    color: $designerBlue !important;
  }

  .MuiFormHelperText-root.Mui-error {
    margin-top: 0;
  }
}
.query-name-control {
  > div {
    position: relative;
    bottom: 40px;
    left: 8%;
    label {
      top: 18px;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  label[data-shrink="true"],
  .MuiFormLabel-root.Mui-focused {
    color: $designerBlue;
  }
}

.query-topic-control {
  position: relative;
  top: 12px;
  label {
    top: 0px;
    &.MuiInputLabel-shrink {
      transform: none;
    }
  }
  &.selected {
    top: -3px;
    position: absolute;
    label {
      color: $designerBlue;
      top: -20px;
      transform: translate(0, 1.5px) scale(0.75);
      transform-origin: top left;
    }
  }
  .topic-select {
    top: -24px;
    z-index: $always-on-top;
    margin-top: 0 !important;
    > div {
      position: relative;
      top: 4px;
    }
    &.no-topics-available {
      svg.MuiSelect-icon {
        display: none;
      }
    }
    &.no-topic-is-selected {
      font-style: italic;
      color: #494b75;
    }

    .MuiSelect-select:focus {
      border-radius: 0;
      background-color: white;
    }
  }

  .MuiInput-underline:after,
  .MuiInput-underline:before {
    width: calc(100% + 2vw);
    bottom: -3px;
  }
}

.query-name-control,
.query-topic-control {
  width: 12.5vw;
  text-align: left;
}
.query-name-control {
  margin-left: 3.2vw !important;
  .MuiInput-underline:after,
  .MuiInput-underline:before {
    width: calc(100% + 1.5vw);
  }
}

.topic-select-dropdown-menu {
  max-width: 300px !important;
  max-height: 50% !important;
  ul {
    li {
      white-space: normal;
      word-break: break-word;
    }
  }
}

.advanced-distribution{
  position: relative;
  bottom: -20px;
  left: -110px;
  margin-bottom: 3px;
  .MuiBadge-badge {
    top: 4px;
    right: -3px;
  }
}
