############################# Group Coordinator Settings #############################

# The following configuration specifies the time, in milliseconds, that the GroupCoordinator will delay the initial consumer rebalance.
# The rebalance will be further delayed by the value of group.initial.rebalance.delay.ms as new members join the group, up to a maximum of max.poll.interval.ms.
# The default value for this is 3 seconds.
# We override this to 0 here as it makes for a better out-of-the-box experience for development and testing.
# However, in production environments the default value of 3 seconds is more suitable as this will help to avoid unnecessary, and potentially expensive, rebalances during application startup.
process.roles=broker,controller
inter.broker.listener.name=BROKER
controller.listener.names=CONTROLLER
log.dirs=/tmp/kraft-combined-logs
listener.security.protocol.map=CONTROLLER:SASL_PLAINTEXT,BROKER:SASL_PLAINTEXT
authorizer.class.name=org.apache.kafka.metadata.authorizer.StandardAuthorizer
super.users=User:admin
sasl.enabled.mechanisms=PLAIN
sasl.mechanism.inter.broker.protocol=PLAIN
sasl.mechanism.controller.protocol=PLAIN
node.id=${BROKER_ID}
broker.id=${BROKER_ID}
listeners=BROKER://:${BROKER_PORT},CONTROLLER://:${CONTROLLER_PORT}
controller.quorum.voters=1@kafka-1:${CONTROLLER1_PORT},2@kafka-2:${CONTROLLER2_PORT},3@kafka-3:${CONTROLLER3_PORT}

# Things special for SHRINE's lifecycle
delete.topic.enable=true