$always-on-top: 1000;

// fonts
$font-size1: 0.7rem;
$font-size2: 0.8rem;
$font-size3: 0.9rem;
$font-size4: 1rem;
$font-size5: 1.25rem;

// colors;
// grey scale
$grey1: #fbfbfb;
$grey2: #ececec;
$grey3: #cccccc;
$grey4: #8d8c8c;
$grey5: #6a666e;
$grey6: #444b52;
$grey7: #424242;

$accent_color: #1ca8dd;

//error red
$error1: 1px solid rgba(220, 53, 69, 0.5);
$error2: rgba(220, 53, 69, 0.75);
$mui-error-color: #f44336;

// inclusion/exclusion/timeline
$active1: #71d4bc;
$active2: #7ab893;
$active3: #5aab80;
$excluded1: #f5adad;
$excluded2: #ad7070;
$excluded3: #714b4b;
$timeline1: rgb(253, 242, 209);
$timeline2: rgb(216, 164, 7);
$timeline2Hover: rgb(232, 207, 136);
$timeline3: rgb(104, 78, 2);

$designerOrange: #ed9b40;
$designerBlue: #2782a3;

$darkThemeContrastColor: rgb(41, 53, 101);
$darkThemeMutedContrastColor: #6b6f80;
$darkThemeBackgroundColor: #4e5265;
