@import "constants.scss";

@mixin error-font {
  color: $error2;
}

@mixin error-border {
  border: $error1;
}

@mixin options-link {
  font-size: $font-size2;
  color: $designerBlue;
  font-weight: 400;
  cursor: pointer;
}

@mixin font-base {
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $grey5;
  font-weight: 500;
}

@mixin title-styles {
  background-color: #e9ecef;
  padding: 8px;
  border: 1px solid #7a9bb9;
  font-weight: 200;
  font-size: 1.25rem;
  left: 12px;
  position: relative;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@mixin dark-text-inset {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

@mixin light-text-inset {
  text-shadow: 1px 0 1px rgba(19, 74, 70, 0.5);
}

@mixin roboto-title {
  @include font-base;
  font: 400 $font-size5 system-ui;
  color: #6a666e;
  margin-left: 8px;
  text-align: left;
}

@mixin custom-input {
  font-size: $font-size2;
  @include font-base;
  margin: 0 4px;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid $grey2;
  display: inline-block;
  outline: none;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  &:focus {
    border-bottom: 1px solid $accent_color;
    background-color: #fff;
    outline: 0;
    margin-left: 0;
    color: $accent_color;
  }
}

@mixin secondary-button($color: #be8f1f, $bgColor: #f3e5c5) {
  color: $color;
  font-size: 12px;
  border: 1px solid $color;
  &:hover {
    background-color: $bgColor;
  }
  &:focus {
    outline: none;
  }
}

@mixin light-theme-modal($width: 800px) {
  display: flex;
  align-items: center;
  justify-content: center;

  .MuiDialog-paperWidthSm {
    max-width: none;
  }

  .DialogContent {
    .close-button {
      position: absolute;
      right: 24px;
      top: 32px;
      color: rgba(0, 0, 0, 0.54);
    }
    a {
      color: $designerBlue;
      font-weight: 600;
    }
    hr {
      border: #2782a1 0.5px solid;
    }
    width: $width;
    height: 100%;
    background-color: white;
    padding: 8px;
    font-size: 14px;
    font-weight: normal;
    padding: 24px;
    border: 1px solid $designerBlue;
    border-radius: 5px;
    .title-label-wrapper {
      width: 100%;
      text-align: left;
      .title {
        text-rendering: optimizeLegibility;
        font-weight: 400;
        font-size: 1.4rem;
        color: rgba(0, 0, 0, 0.54);
      }
    }

    .name-label-wrapper {
      margin-top: 16px;
    }

    .description-label-wrapper {
      margin-top: 48px;
    }

    .name-label-wrapper,
    .description-label-wrapper {
      font-style: italic;
    }

    .description-input,
    .name-input {
      width: 100%;
      margin-top: 8px;
    }

    .description-input {
      .MuiInput-underline:after,
      .MuiInput-underline:before {
        display: none;
      }
      textarea {
        padding: 4px;
        transition: all 0.2s;
        &:hover,
        &:focus {
          border-bottom: 2px solid $designerBlue;
        }
        border-bottom: 1px solid #648f9e;
      }
    }

    .button-row {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }
    .MuiPaper-root {
      flex: 0 0 auto;
      background-color: white;
      text-align: center;
      padding: 8px;
      color: $darkThemeContrastColor;
      font-size: 14px;
      font-weight: normal;
      margin: 10px;
      margin-bottom: 0px;
      border: 1px solid #999;
      border-radius: 5px;
    }

    .btn-primary.disabled,
    .btn-primary:disabled {
      color: #92b8c5;
      background-color: rgba(0, 123, 255, 0);
    }

    label {
      margin-right: 16px;
      position: relative;
      top: 6px;
    }

    .btn-primary {
      color: $designerBlue;
      padding: 6px;
      margin-left: 8px;
    }

    .Muiinput-underline:after,
    .MuiInput-underline:hover:not(.Mui-disabled):before {
      border-bottom: 2px solid #648f9e;
    }

    .MuiInput-underline:not(.Mui-disabled):before {
      border-bottom: 1px solid #648f9e;
    }

    .MuiInput-underline:after {
      border-bottom: 2px solid $designerBlue !important;
    }

    .MuiInputBase-root,
    .MuiSvgIcon-root.MuiSelect-icon,
    .MuiCheckbox-colorPrimary.Mui-checked,
    .MuiCheckbox-root {
      color: rgba(0, 0, 0, 0.54);
    }

    .MuiDialog-paperWidthSm {
      max-width: none;
    }

    label.MuiFormLabel-root,
    label.MuiFormLabel-root.Mui-error {
      color: rgba(0, 0, 0, 0.54) !important;
    }
  }
}

@mixin shrine-tooltip {
  font-size: 1rem;
  font-style: italic;
  box-shadow: 0px 4px 18px -3px rgba(0, 0, 0, 0.64);
  background-color: rgba(99, 99, 99, 0.8) !important;
}
