@import "assets/style/theme.scss";
@import "assets/style/constants.scss";

.QueryDefinition {
  height: calc(100% - 50px);

  // a flex container
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  margin: 36px 20px 20px 0;
  @include font-base;
  font-weight: 400;
  font-size: 1.0rem;

  button.clear {
    transition: all 0.3s ease;
    position: absolute;
    right: 0;
    margin-right: 30px;

    @include secondary-button;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }

  text-align: center;
  position: relative;
  width: 100%;

  .info {
    display: inline-block;
    margin: 8px;
  }

  // a flex item which will not grab space which becomes available
  .title {
    flex: 0 0 auto;
  }

  .definition-title {
    display: inline-block;
    font-size: 1.4rem;
  }

  // a flex item which will not grab space that becomes available
  .instructions {
    flex: 0 0 auto;

    padding-left: 32px;
    padding-right: 32px;
    text-align: left;
    //font-style: italic;
    //color: #878787;
    > ol > li {
      width: calc(100% - 8px);
      font-size: 14px;
      overflow-wrap: break-word;
    }

    .query-definition-folder-icon {
      vertical-align: middle;
      font-size: inherit;
      margin-right: 2px;
    }

    .query-definition-concept-icon {
      vertical-align: middle;
      font-size: 0.7rem;
    }
  }

  // a flex item which *will* grab space when it becomes available
  .QueryGroups {
    flex: 1 0 auto;
    height: 0px;
    overflow: auto;
  }

  .MuiDivider-middle {
    margin-top: 8px;
  }

  .legacy-criteria-alert {
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 0;

    .MuiAlert-message {
      text-align: left;
    }
  }
}
