.DateRange {
  display: flex;
  align-content: center;
  margin-top: 24px;
  .date-range-label {
    min-width: 100px;
    text-align: left;
    margin-top: 20px;
    > p {
      font-weight: 450;
    }
  }

  .clear-date-range {
    margin-left: 16px;
    margin-top: 24px;
  }
  .start-date {
    label {
      color: rgba(0, 0, 0, 0.54);
      width: 200px;
      transform: translate(0, 1.5px) scale(0.75);
      transform-origin: top left;
    }
    input {
      width: 100px;
      text-align: center;
    }
    margin-right: 8px;
  }
  .end-date {
    margin-left: 8px;
    label {
      color: rgba(0, 0, 0, 0.54);
      width: 160px;
      transform: translate(0, 1.5px) scale(0.75);
      transform-origin: top left;
    }
    input {
      text-align: center;
      width: 100px;
    }
  }
}
