.Occurrences {
  display: flex;
  align-content: center;
  margin-top: 24px;

  .pre-value-label,
  .clear-value,
  .post-value-label {
    margin-top: 20px;
  }
  .pre-value-label {
    min-width: 100px;
  }

  .occurrences-label {
    font-weight: 450;
  }

  .clear-value {
    margin-left: 16px;
  }

  .post-value-label {
    margin-left: 2px;
  }
  .occurrences-input {
    label {
      color: rgba(0, 0, 0, 0.54);
      top: -8px;
      width: 120px;
      transform: translate(0, 1.5px) scale(0.75);
      transform-origin: top left;
    }

    input {
      text-align: center;
      width: 70px;
    }
  }
}
