@import "assets/style/theme.scss";
.FavDialog {
  .queryId-label {
    margin-top: 28px;
    label {
      font-weight: 700;
    }
  }
  .fav-message-label {
    margin-top: 24px;
    font-style: italic;
  }
  .description-input {
    label {
      top: 22px !important;
    }
  }
  @include light-theme-modal(600px);
}
