@import "assets/style/theme.scss";
.QueryHistory {
  height: calc(100% - 50px);
  margin: 0;
  margin-top: 36px;
  margin-left: 20px;
  display: flex;
  flex-flow: column;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.01rem;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibile;
  white-space: nowrap;
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  label.MuiFormLabel-root {
    font-style: italic;
  }
  label + .MuiInput-formControl {
    margin-right: 24px;
  }
  .title-grid {
    border-radius: 5px 5px 0px 0px;
    background-color: $designerOrange;
    flex-grow: 0;
    align-items: center;
    .title {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: white;
      width: 95%;
      font-size: 1.4rem;
      margin-right: 8px;
      margin-bottom: 8px;
      text-align: center;
      position: relative;
      top: 2px;
    }
  }
  .content-wrapper {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #999;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: auto;
  }

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.5rem;
    background-color: #fff;
  }

  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    border: none;
    font-size: 16px;
    text-align: left;
    padding: 0.2rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .table > thead > tr > th {
    .tooltip {
      margin-left: 4px;
      font-size: 10px;
    }
    font-weight: 400;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(103, 117, 127);
    &.selected {
      color: #8d2741;
      text-decoration: none;
    }
    vertical-align: bottom;
    border-bottom: 1px solid rgba(141, 39, 45, 0.15);
    .sortIcon {
      margin-left: 20px;
    }
  }

  .table > thead > tr > th:nth-child(5),
  .table > tbody > tr > td:nth-child(5),
  .table > thead > tr > th:nth-child(4),
  .table > tbody > tr > td:nth-child(4),
  .table > thead > tr > th:nth-child(1),
  .table > tbody > tr > td:nth-child(1) {
    width: 30px;
    text-align: center;
    font-size: 14px;
  }

  .table > thead > tr > th:nth-child(5),
  .table > tbody > tr > td:nth-child(5),
  .table > thead > tr > th:nth-child(4),
  .table > tbody > tr > td:nth-child(4) {
    font-size: 16px;
  }

  .table > tbody > tr > td:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
  }

  .table > thead > tr > th:nth-child(4),
  .table > tbody > tr > td:nth-child(4) {
    text-align: center;
    width: 44px;
  }
  .table-hover > tbody > tr:hover > td,
  .table-hover > tbody > tr:hover > th {
    background-color: rgb(238, 238, 238);
  }

  .table-hover.table-mc-light-blue > tbody > tr.selected > td {
    background-color: rgb(208, 226, 250);
  }

  .table-hover.table-mc-light-blue > tbody > tr .fa.hover-controls {
    opacity: 0;
  }
  .table-hover.table-mc-light-blue:not(.loading)
    > tbody
    > tr:hover
    .fa.hover-controls {
    opacity: 1;
    cursor: pointer;
  }

  .table-hover.table-mc-light-blue > tbody > tr .fa.hover-controls.faved {
    opacity: 1;
    color: #0652dd;
  }
  .QueryHistoryTableHeader {
    cursor: pointer !important;
    .fa.fa-caret-up,
    .fa.fa-caret-down {
      margin-left: 2px;
    }
  }
  .QueryHistoryTableLoader {
    .queryHistoryTableLoaderContent {
      color: rgba(49, 123, 225, 0.5);
      font-size: 3.5rem;
    }
  }
}

.query-history-fav-tooltip {
  box-shadow: 0px 4px 18px -3px rgba(0, 0, 0, 0.64);
  font-style: italic;
  background-color: rgba(99, 99, 99, 0.8) !important;
}
