@import "assets/style/theme.scss";
.QueryNameAndNotesDialog {
  .rename-criteria-label {
    margin-top: 28px;
    label {
      font-weight: 700;
    }
  }

  .query-name-input {
    label {
      top: 22px !important;
    }
  }
  @include light-theme-modal(600px);
}
