{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "prop-types": [0],
    "react/jsx-filename-extension": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "arrow-parens": 0,
    "quotes": 0,
    "comma-dangle": 0,
    "operator-linebreak": 0,
    "no-confusing-arrow": 0,
    "implicit-arrow-linebreak": 0,
    "react/forbid-foreign-prop-types": 0,
    "react/jsx-wrap-multilines": 0
  },
  "extends": ["airbnb"]
}
