@import "assets/style/theme.scss";

.QueryTermViewWrapper {
  position: relative;
  padding-left: 8px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: rgb(238, 238, 238);
  }
  &:first-child {
    margin-top: 12px;
  }
  &:first-child .or {
    display: none;
  }
  & .or {
    margin-right: 4px;
  }
}
.excluded .QueryTermView {
  > .name {
    color: $excluded3;
  }
}

.timeline .QueryTermView {
  > .name {
    color: $timeline3;
  }
}
@media (max-width: 1400px) {
  .QueryTermView > .text {
    max-width: 20%;
    flex-basis: 20%;
  }
}

@media (max-width: 1100px) {
  .QueryTermView > .text {
    max-width: 22%;
    flex-basis: 22%;
  }
}
.QueryTermView {
  margin-top: 0.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  width: calc(100% - 16px);
  > .text {
    text-align: left;
  }
  > .name {
    color: $active3;
    overflow: hidden;
    overflow-wrap: break-word;
    position: relative;
    text-align: left;
    flex-basis: auto;
    margin-right: 8px;
  }
  &:hover {
    .options {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      width: 40px;
      margin-left: 8px;
      .fa {
        color: $grey7;
        cursor: pointer;
        visibility: visible;
      }
    }
  }
  .values-link {
    &.has-error {
      @include error-font;
    }
    @include options-link;
    padding-left: 4px;
  }

  .options {
    font-size: $font-size3;
    display: inline-block;
    opacity: 0;
    > .fa:first-child {
      position: relative;
      top: 1px;
    }
    > .fa:last-child {
      position: relative;
      left: 12px;
    }
  }
}

.branch-popover {
  .MuiPopover-paper {
    max-height: 300px;
    max-width: calc(55% - 16px);
    padding: 8px;
  }
}
