@import "assets/style/theme.scss";

.GroupLinkOptions {
  margin-top: 0.8em;
  margin-left: auto;
  margin-right: 0.12em;
  font-size: 1.1em;
  cursor: pointer;
  height: 1.2em;

  .noLink,
  .instLink,
  .encLink{
    margin-left: -2em;
    width: 2.5em;
    margin-top: 0.2em;
  }

  .noLink{
    margin-left: -2.7em;
  }

  .encLink {
    color: #FCAA00;
    position: relative;
    left: 0;
  }

  .instLink {
    color: #0D6EFD;
    left: 0;
    position: relative;
    margin-left: -2.6em;
  }

  .linkLetter {
    font-size: 0.75em;
  }

  .linkLetterIcon{
    font-size: 1.25em;
  }
}
