@import "assets/style/theme.scss";

.QueryTermGroupView {
  &.excluded {
    .GroupTypeOptions,
    .GroupTypeOptions.active {
      background-color: $excluded2;
      border: 1px solid $excluded2;
    }

    .MuiFormControlLabel-label.Mui-disabled {
      color: #fbfbfb;
    }
  }

  &.timeline {
    .GroupTypeOptions,
    .GroupTypeOptions.active {
      background-color: $timeline2;
      border: 1px solid $timeline2;
    }
  }

  .GroupTypeOptions {
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    transition: background-color 0.3s ease;
    z-index: 1;
    position: relative;
    height: 40px;
    border: 1px solid $grey2;
    border-bottom: 1px solid white;
    width: 480px;
    display: flex;

    .inclusion {
      .find-patients,
      .and {
        position: relative;
        bottom: 4px;
        white-space: nowrap;
      }
    }

    .with-selector {
      flex-wrap: nowrap;
      flex-direction: row;
      position: relative;
      bottom: 4px;
      right: 64px;

      svg {
        width: 0.8em;
        height: 0.8em;
      }

      .with,
      .without,
      .when {
        position: relative;

        .MuiTypography-root {
          position: relative;
          left: -6px;
          font-size: 1.2rem;
        }
      }

      .with {
        left: 8px;
      }

      .without {
        margin-left: 0;
      }
    }

    .fa {
      margin-right: 6px;
    }

    &.active {
      position: relative;
      top: 1px;
      background-color: $active2;
      border: 1px solid $active2;

      .with-selector svg,
      .find-patients,
      .and,
      .label {
        color: $grey1;
        @include light-text-inset;
      }

      .MuiFormControlLabel-label.Mui-disabled {
        color: #fbfbfb;
      }
    }

    background-color: white;

    > div {
      margin-top: 5px;
    }

    .inclusion {
      font-size: 1.2rem;
      color: #878787;

      .and,
      .find-patients,
      .label {
        letter-spacing: 1px;
      }

      .and,
      .find-patients {
        position: relative;
        right: 50px;
      }
    }

    .card-clearer-container {
      width: 20px;

      .card-clearer {
        @include light-text-inset;
        color: $grey1;
        cursor: pointer;
        position: relative;
      }
    }
  }

  // override MUI disabled behavior
  .Mui-disabled {
    opacity: 0.8;
  }
}

