@import "assets/style/theme.scss";

.QueryTermGroupView {
  &.dragged-over {
    .GroupBody.inclusion-group.active,
    .GroupBody.inclusion-group {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      z-index: 2000;
      background-color: #d1f0ff;
      > .MuiGrid-root {
        background-color: #d1f0ff;
      }
    }
  }

  &:hover .GroupBody {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &.excluded {
    .GroupBody.has-children.GroupBody.inclusion-group {
      border-left: 20px solid $excluded2;
      > div:first-child {
        background: $excluded2;
      }
    }
  }

  .GroupBody {
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.12),
      0 0.5px 0.5px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    background-color: white;
    z-index: 0;
    border: 1px solid $grey2;
    border-bottom: none;
    border-radius: 0px 4px 4px 0px;
    &.event-group {
      position: relative;
      right: 1px;
    }
    &.inclusion-group.no-children {
      padding-top: 24px;
      padding-bottom: 36px;
    }

    .event-content {
      .text {
        margin-right: 14px;
      }
    }

    &.inclusion.groupo.has-children {
      > div {
        min-height: 100px;
      }
      > div:nth-child(2) {
        padding-left: 8px;
      }
    }
    &.inclusion-group.has-children {
      border-left: 20px solid $active2;
      background-color: $grey1;
    }
    > div:first-child {
      display: none;
    }

    > div {
      width: 100%;
    }
  }
}
