@import "assets/style/theme.scss";

.QueryTermGroupView {
  .GroupBody {
    .GroupInstructionsPanel {
      width: 97%;
      font-style: italic;
      height: 38px;
      border-radius: 4px;
      text-align: left;
      .create-event,
      .create-first-event,
      .create-group,
      .create-first-group,
      .drag-here {
        margin-top: -18px;
        color: #878787;
        line-height: 1.5;
        text-align: left;
      }
      .create-first-event,
      .create-first-group,
      .create-group {
        margin-left: 20px;
      }
      .drag-here {
        margin-left: 8px;
      }
    }
  }
}
