@import "assets/style/theme.scss";

.AutoSuggestView {
  margin-right: 24px;
  .search-grid {
    .search-text-field {
      max-width: 85%;
      flex-basis: 85%;
      transition: all 0.1s ease-in-out;
      > div {
        width: 100%;
      }
    }
    .button-field {
      max-width: 10%;
      flex-basis: 10%;
      .go-button {
        margin-top: 28px;
        width: 60px;
        transition: all 0.2s ease-in-out;
        opacity: 0.5;
        @include secondary-button(#2782a3, rgba(232, 238, 254, 1));
        background-color: white;
        transition: all 0.3s;
        border: 1px solid rgba(39, 130, 163, 0.5);
        &:hover {
          border: 1px solid $designerBlue;
        }
        &.active {
          background-color: rgb(232, 238, 254);
          opacity: 1;
        }
      }
    }
  }

  .MuiInput-underline:after {
    border-bottom: 2px solid #2782a3;
  }
  .MuiFormLabel-root.Mui-focused {
    color: #2782a3;
  }
}

span.occurrences {
  margin-left: 8px;
  color: #6699cc;
  font-size: 12px;
}
